*{
  font-family: 'Poppins', sans-serif;
}


.gallery-Id h1{
  padding-top: 80px;
  padding-left: 600px;
}

.gallery-center h2{
padding-left: 15px;

}
.card-container-gallery {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    
    margin-top: 10px;
    margin-bottom: 50px;
  }
  
  .card-container-gallery::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
   
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .card-gallery {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
  }
  
  .card-gallery .img-content-gallery {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    transition: scale 0.6s, rotate 0.6s, filter 1s;
  }
  
  .card-gallery .img-content-gallery svg {
    width: 50px;
    height: 50px;
    fill: #e8e8e8;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card-gallery .content-gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: black;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    font-size: 15px;
  }
  
  .card-gallery .content-gallery .heading-gallery {
    font-size: 32px;
    font-weight: 700;
  }
  
  .card-gallery:hover .content-gallery {
    opacity: 1;
    transform: translateY(0);
  }
  
  .card-gallery:hover .img-content-gallery {
    scale: 2.5;
    rotate: 30deg;
    filter: blur(7px);
  }
  
  .card-gallery:hover .img-content-gallery svg {
    fill: transparent;
  }
  .grid-container-gallery{
    margin-left: 70px;
  }


  .footer{
    background-color: #24262b;
      padding: 70px 0;
      
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  